.primary_btn{
    padding: 18px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
justify-content: center;
cursor: pointer;
}
.outline{
    padding: 18px;
    background-color: white;
    color: rgb(22, 5, 5);
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
justify-content: center;
border: 1px solid black;
width: 100%;
cursor: pointer;

}